
body {
  font-family: 'YuGothic';
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%; 
  background-color: #fff;
}

a {
  list-style: none;
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto;
  width: 100%; }

.heading {
  margin-top: 120px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto; }
  .heading p {
    font-size: 18px;
    color: #555555; }
  .heading img {
    margin-bottom: 32px;
  }
  .mission-heading {
    margin-top: 131px;
  }

.interview-heading img {
  width: 39%; }

.mission-heading img {
  width: 64%; }

.news__img {
  width: 300px;
  height: 200px;
}
.mv {
  background-image: url("../img/mv.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 0 0 auto;
  width: 84%;
  height: 610px;
  display: flex; }

.mv-txt {
  position: relative;
  right: 100px;
  top: 85px;
  width: 100%; }
  .mv-txt img {
    width: 45%; }
  .mv-txt p {
    font-size: 3rem;
    font-weight: bold; }

.mv-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 45px; }

.mv-box-half {
  display: flex; }

.mv-box {
  width: 200px;
  height: 90px;
  text-align: center;
  color: #fff;
  position: relative; }
  .mv-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .mv-box h3 {
    font-size: 22px; }
  .mv-box p {
    font-size: 14px; }

.mv-box-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.mv1 {
  background-color: #FF9933; }

.mv2 {
  background-color: #FF8B66; }

.mv3 {
  background-color: #FF7E66; }

.mv4 {
  background-color: #FF7166; }

.company h2 {
    margin: 85px 0 50px 0;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold; }

.company-img {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 120px auto;
  width: 952px;
  max-width: 100%; 
  align-items: center;
}
.company-inner img {
  height: 91px; } 
.company-1  {
  width: 204px;
}
.company-2 {
  width: 247px;
  margin-left: 42px;
}
.company-3 {
  width: 127px;
  margin-right: 64px;
}
.company-4 {
  width: 225px;
}

.points {
  background-color: #F5F5F5;
  padding: 0 100px;
  margin: 0; }

.point-inner {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  width: 924px; }

.point {
  width: 276px;
  height: 259px;
  background-color: #fff;
  text-align: center; }
  .point img {
    margin: 31px 0;
    height: 120px; }
  .point p {
    font-size: 16px; }

.point1 img {
  width: 27%; }

.point2 img {
  width: 32%; }

.point3 img {
  width: 31%; }

.more-button {
  padding: 40px 0 60px 0; }

.more {
  width: 155px;
  height: 48px;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 24px;
  align-items: center;
  display: flex;
  background: linear-gradient(to left, #FF7166, #FF9933); 
  box-shadow: 0 11px 20px rgba(0,0,0,0.16); 

}
  .more a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 5px auto; }

@media screen and (max-width: 1080px) {
  .points {
    padding: 0 15px; }

  .point-inner {
    padding: 90px 0 0 0; } }

@media screen and (max-width: 820px) {
  .company-1 {
    width: 200px;
  }
  .company-2 {
    width: 200px;
  }
  .company-3 {
    width: 95px;
  }
  .company-4 {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .mv {
    width: 100%;
    height: 566px; }

  .mv-txt {
    position: absolute;
    right: 0;
    top: 338px}

  .mv-wrapper {
    display: block;
    position: static;
    margin-top: 50px; }

  .mv-box {
    width: 190px; }

  .mv-box-half {
    justify-content: center;
    margin-top: 4px; }

  .mv1, .mv3 {
    margin-right: 4px; }
  .company-img {
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
  }
  .company-row {
    display: flex;
    justify-content: space-between;
    width: 384px;
    max-width: 100%;
  }
  .company-1 {
    width: 156px;
  }
  .company-2 {
    width: 195px;
  }
  .comapny-3 {
    width: 97px;
  }
  .company-4 {
    width: 173px;
  }
  
  .point {
    margin: 0 auto 50px auto;
}
.point-inner {
    display: block; }

  .point-button {
    padding-top: 0; } }

@media screen and (max-width: 425px) {
  .mv {
    background-image: url("../img/mv-sp.jpg");
    align-items: flex-end; }

  .mv-txt {
    padding-bottom: 37px; }
    .mv-txt img {
      width: 75%; }

  .company-inner {
    padding: 0 15px; } }
.interview {
  padding: 0 100px; }

.interview-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 890px; }

.interview-card {
  width: 280px;
  height: 470px;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }
  .interview-card img {
    height: 321px; }

.type {
  width: 120px;
  height: 37px;
  float: right;
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .type p {
    color: #fff;
    margin: 0 auto; 
    font-size: 14px;
    font-weight: bold;
    text-align: center;}

.interview-detail {
  margin-left: 14px; }
  .interview-detail .when {
    color: #868686;
    font-size: 14px;
    font-weight: bold;
    margin-top: 21px; }
  .interview-detail .name1 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px; }
  .interview-detail .name2 {
    color: #FF7166;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px; }

.interview1 {
  margin-top: 115px; }

.interview2 {
  margin-top: 65px; }

.interview3 {
  margin-top: 15px; }

@media screen and (max-width: 1080px) {
  .interview {
    padding: 0 50px; }

  .interview {
    padding: 0; } }
      
@media screen and (max-width: 767px) {
  .interview {
    padding: 0 15px; }

  .interview-heading img {
    width: 25%; }

  .interview-inner {
    display: block;
    width: 100%;
    padding: 0; }

  .interview-card {
    margin: 0 auto 50px auto; }

  .interview1 {
    margin-top: 50px; } }
.mission-inner {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;}

.mission-left {
  width: 514px;
  position: relative;
  left: 66px;
  z-index: 2;
  background: linear-gradient(to left, #FF7166, #FF9933);
  height: 359px; }

  .mission-left p {
    color: #fff; }

.mission-ttl {
  font-size: 24px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: bold;
  padding: 59px 0 32px 44px; }

.mission-txt {
  font-size: 16px;
  margin: 0 42px 50px 42px; }


.mission-right img {
  width: 707px;
  z-index: 1;
  position: relative;
  right: 71px; }
  
  

@media screen and (max-width: 1080px) {
  .heading {
    padding: 0 15px; } }
@media screen and (max-width: 767px) {
  .heading {
    padding: 0 15px; }

  .mission-heading img {
    width: 25%; }

  .mission-inner {
    padding: 0 15px;
    flex-direction: column-reverse;
    margin: 0 auto;
    position: static; }

  .mission-left {
    bottom: 20px;
    left: 0;
    width: 350px;
    margin-top: 0;
    max-width: 100%; }

  .mission-ttl {
    padding: 49px 38px 27px 26px; }

  .mission-txt {
    margin: 0 25px 50px 25px; }

  .mission-right img {
    position: static;
    margin-top: 50px; } }

.news {
  background-color: #F5F5F5;
  padding: 0 100px;
  margin-top: 120px; } 

.news-heading {
  margin-bottom: 50px;
  margin-top: 0;}

.news-heading img {
  width: 23%; 
  margin-top: 90px;}

.news-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1080px;
  max-width: 100%; }

.news-card {
  max-width: 100%;
  width: 330px;
  height: 303px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16);
  margin-bottom: 50px;}
  .news-card img {
    margin: 15px;
    width: 300px;
    height: 200px; }
  .news-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.card-top {
  position: relative; }
  .card-category {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 82px;
    height: 20px;
    background-color: #FF9933;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold; }

.news-detail {
  margin-left: 15px; }
  .news-detail .news-time {
    color: #333333;
    font-size: 14px; }
  .news-detail .news-txt {
    color: #090803;
    font-weight: bold;
    font-size: 18px; }

.news3 {
  height: 335px; }

@media screen and (max-width: 1080px) {
  .news {
    padding: 0 41px; }
    .news img {
      margin: 0; } }
@media screen and (max-width: 767px) {
  .news {
    padding: 0 15px; }

  .news-inner {
    flex-direction: column;
    align-items: center;
    justify-content: normal; }

  .news-heading img {
    width: 19%; 
  }

  .news-card {
    margin-bottom: 32px;
    width: 299px; } 
  
  .contact-inner {
    flex-direction: column;
    margin: 0 auto;
  }
  }

  

.contact {
  margin: 120px auto 0 auto; 
  width: 1080px;
  max-width: 100%; }

.contact-inner {
  display: flex;
  justify-content: space-between;
    }   
.contact-inner img {
  width: 500px;
  z-index: 1; }

.contact-left {
  position: relative;
  margin: 0 auto;
}
.contact-right {
  margin: 0 auto;
}

.contact-detail {
  max-width: 100%;
  width: 382px;
  height: 186px;
  position: relative;
  bottom: 80px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }

.contact-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center; }

.office-name {
  font-size: 18px;
  color: #333333;
  font-weight: bold; }

.office-address {
  font-size: 14px;
  color: #333333;
  font-weight: bold; }

  @media screen and (max-width: 414px) {
    .contact-detail {
      width: 300px;
    }
  }
  @media screen and (max-width: 320px) {
    .company-img {
      padding: 0;
    }
    .company-2 {
      width: 159px;
    }
  }

/*# sourceMappingURL=styles.css.map */
